<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="shortcut icon" href="/favicon.ico">
<!-- Umami Analytics -->
<script defer
        src="https://umami.manpreet.fyi/script.js"
        data-website-id="23523de6-5abf-4d4a-84b1-75c4c62b94c0"
        data-auto-track="true"
        data-domains="manpreet.fyi">
</script>
